{{>layout/header}}
<h1>스프링 부트로 시작하는 웹 서비스 Ver 1.0.1-SNAPSHOT</h1>

    <div class="col-md-12">
    <!-- 로그인 기능 영역 -->
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                {{#userName}} <!-- if (userName!=null) userName 노출 -->
                    Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a> <!-- 스프링시큐리티 default 로그아웃 URL -->
                {{/userName}}
                {{^userName}} <!-- 해당 값(userName)이 존재하지 않는 경우 로그인 버튼 노출 -->
                    <a href="/oauth2/authorization/google"
                       class="btn btn-success active" role="button">Google Login</a> <!-- 스프링시큐리티 default 로그인 URL -->

                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active"
                    role="button">Naver Login</a>
                    <!-- 네이버 로그인 URL은 application-oauth.properties에 등록한 redirect-uri 값에 맞춰 자동으로 등록된다.
                        /oauth2/authorization/ 까지는 고정이고 마지막 Path만 각 소셜 로그인 코드를 사용 -->
                {{/userName}}
            </div>
        </div>
        <br>

        <!-- 게시글 등록 화면 -->
        <div class="col-md-12">
            <div class="col-md-6">
            <div class="row">
                <a href="/posts/save" role="button" class="btn btn-primary">
                    글 등록
                </a>
            </div>
        </div>
        <!-- 전체 조회 화면 : 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>
{{>layout/footer}}